[Unit]
Description=Users’ archive storage

[Mount]
What=LABEL={{ fs_label }}
Where=/home/archives
Type={{ storage_archive.fstype }}
Options={{ storage_archive.mount_opts | join(",") }}

[Install]
WantedBy=multi-user.target