[Unit]
Description=Users’ live storage

[Mount]
What=LABEL={{ fs_label }}
Where=/home/users
Type={{ storage_live.fstype }}
Options={{ storage_live.mount_opts | join(",") }}

[Install]
WantedBy=multi-user.target